.hot-container{
    padding:6.99rem 21% 20px;
    height: 100vh;
}

/* .img-oone{
    background-image: url(https://www.freepik.com/free-photo/human-emotions-feelings-happy-lucky-excited-young-dark-skinned-male-winner-exclaiming-rejoicing-his-success-work-saying-yes-clenching-fists-while-achieving-his-life-career-goals_9437995.htm);
    height: 50vh;
    width: 80px;
} */